[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/giancarlo/Desktop/helpmanual.desktop]
row=2
col=0

[/home/giancarlo/Desktop/userfiles.desktop]
row=3
col=0

[/home/giancarlo/Desktop/network.desktop]
row=5
col=0

[/home/giancarlo/Desktop/settings.desktop]
row=4
col=0

[/home/giancarlo/Desktop/user.key]
row=0
col=1

[/home/giancarlo/Desktop/pass.key]
row=1
col=1

[/home/giancarlo/Desktop/computer.desktop]
row=1
col=0

[Spreadtrum Phone]
row=3
col=1

[43fb7376-a9f7-4307-a525-4277422f2c64]
row=2
col=1

[Papelera]
row=0
col=0

