[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/giancarlo/Desktop/userfiles.desktop]
row=2
col=0

[/home/giancarlo/Desktop/settings.desktop]
row=3
col=0

[/home/giancarlo/Desktop/network.desktop]
row=4
col=0

[/home/giancarlo/Desktop/computer.desktop]
row=1
col=0

[Papelera]
row=0
col=0

