snippet component "Componente basico para Vue2"
<template>
	<div>
		${0}
	</div>
</template>

<script>

	const data = () => ({
		//
	});

	const methods = {
		//
	};

	const props = {
		//
	};

	const components = {
		//
	};

	const computed = {
		//
	};

	const watch = {
		//
	};

	export default {
		name: "`!p snip.rv = snip.basename or "untitled"`",
		data,
		props,
		components,
		computed,
		watch,
		methods,
	};
</script>

<style scoped lang="scss">

</style>
endsnippet
